body { padding-top: 70px; }

section {
  margin: 0 20px;
}

a:focus {
  outline: none;
}

.navbar-nav li.loader {
    margin: 12px 24px 0 6px;
}

.no-selection {
  margin: 20px;
}

.contact-list {
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
}

.panel {
  margin: 20px;
}

.button-bar {
  right: 0;
  left: 0;
  bottom: 0;
  border-top: 1px solid #ddd;
  background: white;
}

.button-bar > button {
  float: right;
  margin: 20px;
}

li.list-group-item {
  list-style: none;
}

li.list-group-item > a {
  text-decoration: none;
}

li.list-group-item.active > a {
  color: white;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 5px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: rgb(176, 176, 176);
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.full-row {
  grid-column: 1 / span 6;
  grid-row: 1;
}

.first-half-row {
  grid-column: 1 / span 3;
}

.second-half-row {
  grid-column: 4 / span 3;
}

.main-wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  grid-gap: 5px; 
  padding: 15px;
}

.main-menu {
  grid-column: 1;
  grid-row: 1 / span 3;
}

.main-display {
  grid-column: 2 / span 4;
  grid-row: 2
}